---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main class="mx-32">
    <h1 class="text-center text-6xl font-bold leading-tight my-32">About Us</h1>
    <div class="mx-auto mt-8">
      <h2 class="text-4xl font-bold mb-8">Dr. Kyle Womack, PT, DPT, CF-L2</h2>

      <p class="mb-6">
        IG: <a
          href="https://www.instagram.com/kylewomackpt/"
          target="_blank"
          class="text-blue-500">@kylewomackpt</a
        >
      </p>

      <p class="mb-6">
        Dr. Kyle earned his Doctor of Physical Therapy degree from the
        University of Oklahoma. After graduating from Physical Therapy School,
        he and his wife, Jenn, moved to Oahu. While working in a general
        Physical Therapy practice, he felt he wasn't able to fully help the
        active adults he enjoyed working with the most, so he began his own
        practice in 2017, where he would provide performance-based physiotherapy
        for CrossFitters and other active people. He soon fell in love with the
        combination of being able to coach athletes while helping them improve
        their movements and decrease their pain.
      </p>

      <p class="mb-6">
        Over the years, he has had the pleasure of helping 1000's of CrossFit
        and fitness athletes around the world (from beginners to CrossFit Games
        athletes) with a blend of seminars, in-person work, and remote
        programming.
      </p>

      <p class="mb-6">
        Kyle, Jenn, and their three daughters live in Wahiawa, HI and love
        connecting with their local community, churches, and spending time
        hiking and in the water.
      </p>

      <p class="mb-6">
        Dr. Kyle's athletic background includes CrossFit, Competitive Natural
        Bodybuilding, Surfing, Hiking, Football, Basketball, Jeet Kune Do, Tae
        Kwon Do, Motocross, and Wakeboarding.
      </p>

      <h3 class="text-2xl font-bold mb-4">Certifications</h3>
      <ul class="list-disc list-inside mb-4">
        <li>CrossFit Level 1 Trainer</li>
        <li>CrossFit Level 2 Trainer</li>
        <li>MobilityWod Coach (MWOD-c)</li>
        <li>MobilityWod Specialist</li>
        <li>Selective Functional Movement Assessment (SFMA)</li>
        <li>Functional Movement Screen (FMS)</li>
        <li>RockTape Functional Movement Technique - Taping (FMT-c)</li>
        <li>
          RockTape Functional Movement Technique - Blades and Blades Advanced
        </li>
      </ul>

      <p class="mb-6">
        "I want people to have freedom of movement to live a high-performance,
        pain-free lifestyle." -Dr. Kyle Womack, PT, DPT, SFMA, TRS-c, CF-L2
      </p>
    </div>
  </main>
</Layout>
