---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The MUV Collective | Performance Physio</title>
    <meta property="og:title" content="The MUV Collective | Performance Physio">
    <meta property="og:description" content="The MUV Collective helps Everyday CrossFit Athletes solve their pain and mobility problems so they can continue they training and get back to hitting PR's.">
    <meta property="og:url" content="https://www.themuvco.com">
    <meta property="og:site_name" content="The MUV Collective">
    <meta property="og:type" content="website">
    <meta name="keywords" content="Active, Helping, Metro, OKC, People, activities, and, back, get, in, love., sports, the, they, to">
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
