---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <header>
    <h1 class="text-center text-6xl font-bold leading-tight mb-6">Seminars</h1>
  </header>
  <section>
    <h2 class="text-4xl text-center font-semibold mb-6">
      Does This Sound Like You?
    </h2>
    <ul>
      <li>
        Are you trying to stay healthy and fit but can't because of pain
        stopping you from exercising?
      </li>
      <li>
        Are you worried that an injury will stop you from participating in
        activities you love, like CrossFit, weightlifting, surfing or running?
      </li>
      <li>
        Have you been dealing with a chronic injury that just hasn't gone away?
      </li>
      <li>
        Have you seen other medical providers in the past with no long-lasting
        change in your pain?
      </li>
    </ul>
  </section>
</Layout>
