---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main class="mx-32">
    <header>
      <h1 class="text-center text-6xl font-bold leading-tight my-32">
        Seminars
      </h1>
    </header>
    <div class="mx-auto mt-8">
      <h2 class="text-4xl font-bold mb-8">
        Hawai'i CrossFitters: Do Any of These Sound Like You?
      </h2>
      <ul class="list-disc list-inside mb-6">
        <li>You are not making the progress or PRs you want.</li>
        <li>
          Your knees, back, hips, or shoulders hurt during or after workouts.
        </li>
        <li>Pain is keeping you from working out with your friends.</li>
        <li>You've had children and have problems stabilizing your core.</li>
      </ul>

      <p class="mb-6">
        Introducing: <span class="font-bold"
          >The MŪVment and Mobility Seminar Series</span
        >
      </p>

      <p class="mb-6">
        We at MŪV Physio have helped thousands of CrossFit Athletes from
        beginners to Games Athletes Move Better, Reduce their Pain, Improve
        their Mobility and Lift More Weight.
      </p>

      <p class="mb-6">
        We are coming to a box near you to help YOU do the same!
      </p>

      <h3 class="text-2xl font-bold mb-4">Dates & Locations</h3>
      <p class="mb-4">
        Maui Level Up Maui "The Squat Fix" Saturday, January 27th 10:00 -
        12:30pm (<span class="text-red-500">
          $50 OFF with code EARLYBIRDMAUI</span
        >)
      </p>
      <p class="mb-4">
        Big Island- Kona CrossFit Kona <span class="italic">Date TBD</span>
      </p>

      <p class="mb-6">
        <span class="font-bold">Sign Up!</span> Only 20 Spots Available for each
        location!
      </p>

      <p class="mb-6">
        We believe that all athletes should know how to perform basic
        maintenance on themselves.
      </p>

      <h3 class="text-2xl font-bold mb-4">What to Expect:</h3>
      <ul class="list-disc list-inside mb-4">
        <li>Specific MŪVment Assessments to find your exact problem areas.</li>
        <li>Simple drills to improve for your specific problems.</li>
        <li>
          MŪVment Progressions to learn how to improve your movement patterns.
        </li>
        <li>
          We will show you how to create a personalized 5-minute, pre-warmup
          routine.
        </li>
        <li>
          Most importantly: You will have CLARITY for knowing exactly what you
          need to work on and how to work on it!
        </li>
      </ul>

      <p class="mb-6"><span class="font-bold">Click to Join Us</span></p>

      <h3 class="text-2xl font-bold mb-4">The MŪV Physio Mission</h3>
      <p class="mb-6">
        Life is too short to miss out on the activities you love because of pain
        or lack of mobility. We want to make sure you are able to live a fun,
        adventurous, and active life with your family and friends.
      </p>

      <p class="mb-6">
        <span class="font-bold">Only 20 Spots Available!</span> For these seminars,
        we want to make sure that we are able to give everyone our full attention
        to help them with their specific needs, so we are only opening this seminar
        up to 20 people!
      </p>

      <p class="mb-6">
        <span class="font-bold">Sign up today to reserve your spot!</span>
        <span class="text-blue-500">Click to Join Us</span>
      </p>
    </div>
  </main>
</Layout>
