---
import Layout from "@layouts/Layout.astro";
import CallToAction from "@components/CallToAction.astro";
---

<Layout>
  <h1 class="text-center text-6xl font-bold leading-tight my-32 mb-6">
    Testimonials
  </h1>
  <div class="grid grid-cols-3 gap-8 mx-32 my-32">
    <section class="border border-zinc-800/10 shadow-xl rounded-lg px-8 py-10">
      <span class="text-sm uppercase text-teal-400">Cristy C.</span>
      <h3 class="font-bold text-3xl mb-6">Dr. Kyle Transformed My Life!</h3>
      Dr. Kyle is as honest and real as it gets! I was having lower back pain, so
      went for a consult. Turns out, my issue was not what I expected, but was a
      weak core. Who knew?! After a few sessions of retraining how to engage my core,
      understanding key positioning for training, breathing techniques, etc.....
      my back, mobility and overall sleep has made wonderful transformations. These
      simple techniques that Dr. Kyle has shown are life altering. I highly recommend
      to anyone.
    </section>
    <section class="border border-zinc-800/10 shadow-xl rounded-lg px-8 py-10">
      <span class="text-sm uppercase text-teal-400">Krystyn L.</span>
      <h3 class="font-bold text-3xl mb-6">Better Shoulders, Better Lifts</h3>
      I’ve been working with Dr. Kyle for almost a year now. He helped identify the
      root causes of a bunch of things I had going on and had been working with me
      to get them fixed. Since I started working with him, my lifts have gotten better
      (be honest, it’s something we all want) and my movement patterns have improved
      tremendously. I don’t have pain in my shoulders anymore and that’s something
      that has been plaguing me for years now. I definitely recommend seeing him!
    </section>
    <section class="border border-zinc-800/10 shadow-xl rounded-lg px-8 py-10">
      <span class="text-sm uppercase text-teal-400">Anne C.</span>
      <h3 class="font-bold text-3xl mb-6">Honest and Effective Treatment</h3>
      Excellent physical therapist and trainer. Really takes the time to work with
      you, and spends the whole hour with you. Understands athletes, athletic injuries,
      --and most importantly, how to fix them -- really well. More effective than
      chiro treatments, which can go on seemingly forever sometimes.
    </section>
    <section class="border border-zinc-800/10 shadow-xl rounded-lg px-8 py-10">
      <span class="text-sm uppercase text-teal-400">Brian W.</span>
      <h3 class="font-bold text-3xl mb-6">Outstanding Weightlifting Support</h3>
      Dr. Kyle is outstanding at what he does. I am an avid weightlifter experiencing
      limited shoulder mobility due to osteoarthritis. Kyle works with me regularly
      and constantly checks in to make sure I am making progress. He has a great
      personality and is extremely easy to work with.
    </section>

    <section class="border border-zinc-800/10 shadow-xl rounded-lg px-8 py-10">
      <span class="text-sm uppercase text-teal-400">Sean F.</span>
      <h3 class="font-bold text-3xl mb-6">Effective Mobility Improvement</h3>
      Kyle does a great job explaining how to improve mobility, and after just a
      few exercises showed me how to identify the root cause of my issues and make
      real improvements. Highly recommend, especially for masters “athletes” like
      me.
    </section>

    <section class="border border-zinc-800/10 shadow-xl rounded-lg px-8 py-10">
      <span class="text-sm uppercase text-teal-400">Ernest E.</span>
      <h3 class="font-bold text-3xl mb-6">
        Fantastic Physical Therapy Service
      </h3>
      Fantastic and provided outstanding service from start to finish. Right from
      the start, Kyle was friendly, welcoming, but more importantly was incredibly
      knowledgeable and communicated exactly what and why he did (and had me do)
      each exercise. I was stoked because I could tell he cared. Afterwards, I received
      follow up emails to remind me of the different exercises and stretches I needed
      to do and make sure my progress was going well. I definitely recommend Kyle
      for your physical therapy needs. My experience was great!
    </section>

    <section class="border border-zinc-800/10 shadow-xl rounded-lg px-8 py-10">
      <span class="text-sm uppercase text-teal-400">Joe D.</span>
      <h3 class="font-bold text-3xl mb-6">Holistic Mobility Improvement</h3>
      Dr. Kyle is a true professional! After coming to him with ankle problems, he
      was quick to identify the true root of my pain and worked systematically up
      my whole leg to holistically improve mobility and alleviate pain. Kyle clearly
      loves his work and is passionate about helping people get back to a pain-free
      lifestyle. He's the first person I'd recommend to anyone experiencing any kind
      of mobility issues.
    </section>

    <section class="border border-zinc-800/10 shadow-xl rounded-lg px-8 py-10">
      <span class="text-sm uppercase text-teal-400">Tony S.</span>
      <h3 class="font-bold text-3xl mb-6">Effective Knee Health Improvement</h3>
      Dr. Kyle was great! I'd previously seen two other physical therapists for a
      knee injury, but the pain always returned. Kyle was the first PT who helped
      me understand that the pain was actually caused by a lot of tension in my ankle,
      and he prescribed a lot of helpful exercises and stretches to improve my knee
      health. The pain has pretty much disappeared at this point.
    </section>
  </div>
  <div class="w-fit mx-auto">
    <CallToAction />
  </div>
</Layout>
