<a
  href="https://calendly.com/themuvco/30min"
  class="rounded-full px-8 py-3 bg-teal-500 text-white hover:bg-teal-400 duration-150 shadow-md hover:shadow-none focus:bg-teal-400 focus:text-zinc-100 focus:shadow-none w-fit mx-auto"
>
  Request a Consult Call
</a>
