---
import SocialLinks from "@components/SocialLinks.astro";
---

<footer
  class="grid grid-cols-1 place-items-center gap-4 text-zinc-500 text-sm py-12 w-full"
>
  <span> ©2023 by The MUV Collective, LLC</span>
  <SocialLinks />
</footer>
