<ul class="flex align-center gap-4 text-xl">
  <a
    href="http://instagram.com/themuvco"
    class="hover:text-teal-400 focus:text-teal-400 duration-150"
    ><i class="fa-brands fa-instagram"></i></a
  >
  <a
    href="http://facebook.com/themuvco"
    class="hover:text-teal-400 focus:text-teal-400 duration-150"
    ><i class="fa-brands fa-facebook"></i></a
  >
  <a
    href="https://www.youtube.com/channel/UCmOKALD8cG40fu3le80qPNQ/videos?view_as=subscriber"
    class="hover:text-teal-400 focus:text-teal-400 duration-150"
    ><i class="fa-brands fa-youtube"></i></a
  >
  <a href="http://tiktok.com/@themuvco"><i class="fa-brands fa-tiktok"></i></a>
</ul>
